<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body>
        <%- include('partials/navbar.ejs') %>

            <h1 class="text-center">Edit Comment!</h1>

            <form action="/comments/<%= comment.id %>?_method=PATCH" method="POST">
                <div class="form-group col-5 text-center mx-auto">
                    <textarea name="comment" class="form-control" id="comment" cols="25" rows="5" placeholder="Enter new comment here">
                        <%= comment.comment %> 
                    </textarea>
                    <button class="btn btn-primary mx-auto" type="submit">Submit Comment</button>
                </div>
            </form>

            <%- include('partials/bootstrapJs.ejs') %>
    </body>

</html>