<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


    <body>

        <%- include('partials/navbar.ejs') %>


            <h2 class="text-center">
                Edit
                <small class="text-muted">JSON Comments!</small>
            </h2>

            <div class="container">
                <div class="row">
                    <div class="card col-sm mx-auto">
                        <div class="card-body">
                            <h5 class="card-title"> -
                                <%= comment.username %> ID:
                                    <%= comment.id %>
                            </h5>
                            <p class="card-text">
                                <%= comment.comment %>
                            </p>
                            <div class="card-link">
                                <form method="POST" action="/comments/<%= comment.id %>?_method=DELETE ">
                                    <button class="btn btn-primary ">Delete</button>
                                </form>
                                <form method="GET" action="/comments/<%= comment.id %>/edit">
                                    <button class="btn btn-primary ">Edit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/bootstrapJs.ejs') %>
    </body>

</html>